body{
  background-image: url("https://img.freepik.com/premium-photo/generative-ai-illustration-colored-suitcases-prepared_58460-26218.jpg?size=626&ext=jpg&ga=GA1.1.1496814605.1712802709&semt=ais");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
}
*{
  margin: 0;
  padding: 0;
}


.heading{
  min-height: 100vh;
  width: 100%
  background-position: center;
  background-size: cover;
  position: relative; 
}

.heading nav a{
  padding: 10px 18px 10px 20px;
}


.text{
  width: 90%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  bottom: 0;
  overflow: auto;
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #450920;
}

.text h1{
  font-size: 62px;
}

.text p{
  margin: 10px 0 40px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  color: #583101;
}

nav{
  display: flex;
  padding: 3% 10% 0% 3%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 100px;  
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
}

nav img{
  width: 150px;
  
}

.nav-links{
  flex:1;
  text-align: right;
  font-size: 20px;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 5px 18px 12px 3px;
  position: relative;
}

.nav-links ul li a{
  color: #582F0E;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #a53860;
  display: block;
  margin: auto;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.button{
  display: inline-block;
  text-decoration: none;
  color: #640d14;
  border: 1px solid #414833;
  padding: 12px 34px;
  font-size: 13px;
  font-weight: 100px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.button:hover{
  border: 1px solid #a53860;
  background: #a53860;
  transition: 1s;
}

footer {
    display: flex;
    padding: 0px 10px;
  }
  footer .stats {
    display: flex;
    font-size: 15px;
  }
  footer .stats strong {
    font-size: 18px;
  }
  footer .stats .likes {
    margin-left: 10px;
  }
  footer .cta {
    margin-left: auto;
  }
  footer .cta button {
    border: 0;
    background: transparent;
  }


