*{
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  padding: 3% 10% 10% 20%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 100px;  
  font-family: "Swanky and Moo Moo", cursive;
  font-weight: 1000;
  font-size: 25px;
  font-style: normal;
}

.text{
  width: 90%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  bottom: 0;
  overflow: auto;
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #936639;
}

.text h1{
  font-size: 62px;
}

.text p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #C2C5AA;
}

nav img{
  width: 150px;
}

.nav-links{
  flex:1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 15px 20px 30px;
  position: relative;
}

.nav-links ul li a{
  color: #582F0E;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #A4AC86;
  display: block;
  margin: auto;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.button{
  display: inline-block;
  text-decoration: none;
  color: #C2C5AA;
  border: 1px solid #414833;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.button:hover{
  border: 1px solid #414833;
  background: #656D4A;
  transition: 1s;
}

