*{
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  padding: 3% 10% 10% 20%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 100px;  
  font-family: "Swanky and Moo Moo", cursive;
  font-weight: 1000;
  font-size: 25px;
  font-style: normal;
}

.text{
  width: 90%;
  padding: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  overflow: auto;
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #936639;
}

nav img{
  width: 150px;
}

.nav-links{
  flex:1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 15px 20px 30px;
  position: relative;
}

.nav-links ul li a{
  color: #582F0E;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #A4AC86;
  display: block;
  margin: auto;
}

.nav-links ul li:hover::after{
  width: 100%;
}

footer {
    display: flex;

  }
  footer .stats {
    display: flex;
    font-size: 15px;
  }
  footer .stats strong {
    font-size: 18px;
  }
  footer .stats .likes {
    margin-left: 10px;
  }
  footer .cta {
    margin-left: auto;
  }
  footer .cta button {
    border: 0;
    background: transparent;
  }
